<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="srearch-input">Nhập từ khóa</label>
            <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa..." name="q"
                value="{{keyword}}">
        </div>

        <div class="form-group">
            <label for="gender-input">Nhập từ khóa</label>
            <select class="form-control" id="gender-input" name="gender" value="{{keyword}}">
                <option value="0">Chọn giới tính</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>